h1 la xhulsi
p dsf
each escojido in productos
    if(escojido.id ==id)
        .col-6
            .card(style='width: 18rem;')
                img.card-img-top(src=''+escojido.imagen)
                .card-body
                    h5.card-title #{escojido.nombre}
                    p.card-text
                    | #{escojido.detalles}